footer {
    width: 100%;
    float: left;
    @include box-sizing(border-box);

    .copyright {
        float: left;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        background-color: #eeeeee;
        padding: 20px;
        @include box-sizing(border-box);

        p {
            font-size: 12px;
            color: #aaaaaa;
            margin-bottom: 0;
        }
    }
}