.page {
    ul {
        list-style: initial;
        margin-left: 40px;
        margin-bottom: 40px;
    }

    hr {
        background-color: #eeeeee;
        border: none;
        outline: none;
        height: 1px;
    }
}